<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/appshare.css'>
    <title>作品详情</title>	
	 <script type="text/javascript">
		var winW = document.documentElement.clientWidth;
        var winH = document.documentElement.clientHeight;
        if(winW > winH){
			document.documentElement.style.fontSize = winW / 6.4 + "px";
        } else {
			document.documentElement.style.fontSize = 50 + "px";
        }
    </script>
	<script type="text/javascript" src="assets/js/appOpus.js"></script>
</head>
<body ng-app='app' ng-controller='OpusController'>
<!--     <div class="header">
		<div class='share'></div>
		<div class='back'></div>
    </div> -->
	<div class='user'>
		<p class='text'>{{cooks.kPDishName}}</p>
		<div class='look'>
			<div class='line left'></div>
			<div class='box'>
				<div class='see'>
					<img src='assets/images/appShare/see.png' alt=''>999
				</div>
				<div class='like'>
					<img src='assets/images/appShare/like.png' alt=''>666
				</div>
			</div>
			<div class='line right'></div>
		</div>
		<div class='info'>
			<div class='leader'><img ng-src='{{cooks.kPIconUrl}}' alt=''></div>
			<div class='name'>{{cooks.kPNickName}}</div>
			<div class='name'>{{cooks.kPCreateTime | date}}</div>
		</div>
		<p class='desc'>{{cooks.kBDescription}}</p>
	</div>
	<div class='title'>
		<span class="img material"></span>
		用料
	</div>
	<div class='table'>
		<table class='list'>
			<tr ng-repeat='x in cooks.kBFoodMaterials'>
				<td>{{x.kBFName}}</td>
				<td>{{x.kBFQuantity}}</td>
			</tr>
		</table>
	</div>
	<div class='title'>
		<span class="img make"></span>
		做法
	</div>
	<div class='content'>
		<ul>
			<li ng-repeat='x in cooks.kPPhotos'>
				<img ng-src='{{x.kPhotoUrl}}' alr=''>
				<p>{{x.kPhotoSerialNum + 1}}.{{x.kPhotoDescription}}</p>
			</li>
		</ul>
	</div>
	<div class='title'>
		<span class="img remind"></span>
		小贴士
	</div>
	<p class='remindContent' ng-repeat='x in cooks.kBTips'>{{x}}</p>
	<div class='more'>
		<div class='line left'></div>
		<div class='line right'></div>
		<div class='leader'><img ng-src="{{'http://www.yijiayinong.com/cookbook/api/user/getimage?imagemd5='+cooks.kBIconUrl}}" alt=''></div>
		<p>{{cooks.kPNickName}}更多菜谱</p>
	</div>
	<div class='menu'>
		<table>
			<tr>
				<td ng-repeat='m in moredata' ng-click='jump(m)'>
				<div class='bg'></div>
				<span>{{m.kBDishName}}</span>
				<img ng-src="{{'http://www.yijiayinong.com/cookbook/api/user/getimage?imagemd5='+m.kBFrontCoverUrl}}" alt=''>
				</td>
			</tr>
		</table>
	</div>
<!-- 	<div class='commentTitle'>TA们都评价了</div>
	<ul class='commentBox'>
		<li>
			<div class='leader'><img src='assets/images/appShare/leader.jpg' alt=''></div>
			<div class='textB'>大卫</div>
			<div class='text'>好漂亮呢！</div>
			<div class='textBottom'>1分钟前</div>
		</li>
		<li>
			<div class='leader'><img src='assets/images/appShare/leader.jpg' alt=''></div>
			<div class='textB'>猫叔</div>
			<div class='text'>棒棒的！</div>
			<div class='textBottom'>一天前</div>
		</li>
	</ul>	
	<div class='comment'>
		<div class='right'>发布</div>
		<div class='left'>我想说两句</div>
	</div> -->
</div> 
</body>
</html>
