<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/bound_phone.min.css'
    <title></title>	
</head>
<body>
	<!--<div class="header">
		<span class='ico' ng-class='{back:true,close:icoStatus}' ng-click='back()'></span>
		<div class="text">绑定手机</div>	
   </div>-->
   <div class='content'>
		<ul>
			<li class='box'>
				<div class='left'>手机号</div>
				<div class='getCode' ng-click='getCode()'>获取验证码</div>
				<input class='__mob' type='tel' placeholder='请输入手机号'>
			</li>
			<li class='box'>
				<div class='left'>验证码</div>
				<div class='delCode' ng-click='delCode()'></div>
				<input class='__code' type='tel' placeholder='请输入验证码'>
			</li>
		</ul>
   </div>
   <div  class="button update">
        <div class="select">
        <a class="text" href="javascript:void(0);" ng-click='postMob()'>确定</a>
        </div>
    </div>
</div> 
</body>
</html>
