<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/del_address.css'
    <title></title>	
	 <script type="text/javascript">
		var winW = document.documentElement.clientWidth;
        var winH = document.documentElement.clientHeight;
        if(winW > winH){
			document.documentElement.style.fontSize = winW / 6.4 + "px";
        } else {
			document.documentElement.style.fontSize = 50 + "px";
        }
    </script>
</head>
<body>
	<div class="header">
		<span class="ico back" ng-click='back()'></span>
		<div class='right'>保存</div>
		<div class="text">修改地址</div>	 
   </div>
   <div class='content'>
		<ul>
			<li class='box'>
				<div class='left'>收货人</div>
				<input type='text' class='__name' placeholder='填写收货人姓名'/>
			</li>
			<li class='box'>
				<div class='left'>联系电话</div>
				<input type='tel' class='__tel' placeholder='填写联系电话'/>
			</li>
			<li class='box'>
				<div class='left' >收货地址</div>
				<input type='text' class='__address' placeholder='填写收货地址'/>
			</li>
		</ul>
   </div>
   <div  class="button update">
        <div class="select">
        <a class="text" href="javascript:void(0);" ng-click='del()'>删除地址</a>
        </div>
    </div>
</div> 
</body>
</html>
