<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/del_address.min.css'
    <title></title>	
</head>
<body>
	<div class="header">
		<div class='right' ng-click='post_info()'>保存</div>
		<div class="text">修改地址</div>	 
   </div>
   <div class='content'>
		<ul>
			<li class='box'>
				<div class='left'>收货人</div>
				<input type='text' placeholder='填写收货人姓名' ng-model='name'/>
			</li>
			<li class='box'>
				<div class='left'>联系电话</div>
				<input type='tel' placeholder='填写联系电话' ng-model='mob'/>
			</li>
			<li class='box'>
				<div class='left address'>收货地址</div>
				<!--<input type='text' placeholder='请输入' ng-model='address'/>-->
				<textarea ng-class="{true:'line',false:''}[isLine]" placeholder="请输入" onfocus="style='height:55px;'" onblur="this.style.height=this.scrollHeight+'px';"  ng-model='address'></textarea>
			</li>
		</ul>
   </div>
   <div  class="button update">
        <div class="select">
        <a class="text" href="javascript:void(0);" ng-click='del()'>删除地址</a>
        </div>
    </div>
</div> 
</body>
</html>
