<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/update_address.min.css'/>
    <title></title>	
</head>
<body>
   <div class='content'>
		<div class='no_address' ng-if='data.length == 0'>暂无任何收货地址</div>
		<ul ng-if='data'>
			<li class='box' ng-repeat='x in data'>
				<div class='right' ng-click='revise_address(x.id)'></div>
				<div class='left' ng-click='jumpCheckout($index)'>
					<div class='top'>
						<span>{{x.name}}</span>
						<span class='text'>{{x.mob}}</span>
					</div>
					<p>{{x.address}}</p>
				</div>	
			</li>
		</ul>
   </div>
   <div  class="button update fixed">
        <div class="select" ng-click='add_address()'>
        <a class="text" href="javascript:void(0);" >添加新地址</a>
        </div>
    </div>
</div> 
</body>
</html>
