<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/user_center.min.css'/>
    <title></title>	
</head>
<body>
	<!--<div class="header">
		<div class="text">个人中心</div>	
	</div>-->
	<div class='content'>
		<ul>
			<li class='box' ng-click='orders()'>
				<div class='left text'>我的订单</div>
			</li>
			<li class='box' ng-click='address()'>
				<div class='left adds'>收货地址</div>
			</li>
			<li class='box'>
				<div class='left money_ico'>我的余额</div>
				<div class='money' ng-if='data.user'>￥{{data.user.balance | convert}}</div>
				<div class='money' ng-if='!data.user'>￥0</div>
			</li>
			<li class='box'>
				<div class='left phone'>绑定手机</div>
				<div class='bound' ng-click='phone()' ng-if='!data.mob_user.mob'>去绑定</div>
				<div class='tel' ng-if='data.mob_user.mob'>{{data.mob_user.mob}}</div>
			</li>
			<li class='box'>
				<div class='left qq'>客服电话</div>
				<a class='tel' href='tel://010-53383271'>010-53383271</a>
			</li>
			<li class='box'>
				<div class='left waiter'>客服QQ群</div>
				<div class='tel'>493230643</div>
			</li>
		</ul>
	</div>
</body>
</html>
