<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet' type='text/css' href='../assets/css/user_center.css'/>
    <title></title>	
	 <script type="text/javascript">
		var winW = document.documentElement.clientWidth;
        var winH = document.documentElement.clientHeight;
        if(winW > winH){
			document.documentElement.style.fontSize = winW / 6.4 + "px";
        } else {
			document.documentElement.style.fontSize = 50 + "px";
        }
    </script>
</head>
<body>
	<div class="header">
		<div class="text">个人中心</div>	
	</div>
	<div class='content'>
		<ul>
			<li class='box' ng-click='orders()'>
				<div class='left text'>我的订单</div>
			</li>
			<li class='box' ng-click='address()'>
				<div class='left adds'>收货地址</div>
			</li>
			<li class='box'>
				<div class='left money_ico'>我的余额</div>
				<div class='money'  ng-if='data.mob_user.balance'>￥{{user.balance | convert}}</div>
				<div class='money' ng-if='!data.mob_user.balance'>￥0</div>
			</li>
			<li class='box'>
				<div class='left phone'>绑定手机</div>
				<div class='bound' ng-click='phone()' ng-if='!data.mob_user.mob'>去绑定</div>
				<div class='tel' ng-if='data.mob_user.mob'>{{data.mob_user.mob}}</div>
			</li>
		</ul>
	</div>
</body>
</html>
