@import "global";
@import "component";
body{
	background:@color_misty_gray;
}
#checkout {
  height: 100%;
  .content {
	margin-bottom: 1rem;
    padding-top: 0;
    /*margin-top: 1rem;*/
	.show{
			display:blok;
		}
	.hide{
			display:none;
		}
    .user {
		@height: 0.9rem;
		overflow: hidden;
		background: url('../images/rope.png') no-repeat 0% bottom;
		padding: 0.2rem 0.3rem;
		.sculpture {
			overflow: hidden;
			width: 0.6rem;
			height: 0.6rem;
			float: left;
			border-radius: 50%;
			vertical-align: middle;
			line-height: 0.6rem;
			img {
				max-width: 100%;
				height: 100%;
			}
		}
		.write{
			height:0.6rem;
			line-height:0.6rem;
			span{
				height:0.6rem;
				line-height:0.6rem;
				display:block;
				width:1rem;
				.font_large;
				float:left;
				margin-top:0 !important;
			}
			input{
				height:0.5rem;
				width:2rem;
				border:none;
			}
		}
		.right{
			height: 1.2rem;
			float: right;
			background: url('../images/pen.png') no-repeat center;
			background-size: 0.5rem;
			width: 1rem;
		}
    }	
	.box{
		height:1rem;
		line-height:1rem;
		margin:0 0.2rem;
		.font_x_large;
		.sinceTitle{
			display:block;
			height:0.8rem;
			float:right;
			.font_large;
			margin-right:0.3rem;
		}
		.success{
			border-bottom: 2px solid @color_orange;
			color: @color_orange;
		}
		
	}
	.ads{
		display:none;
	}
	ul{
		margin:0 0.2rem;
		li:last-child{
			border:none;
		}
		.row{
			height:0.8rem;
			line-height:0.8rem;
			padding:0.2rem 0;
			.circular{
				width:0.5rem;
				height:0.5rem;
				margin:0.15rem 0;
				border-radius:50%;
				border:1px solid #ccc;
				float:left;
			}
			.sinceAddress{
				span{
					background:url('../images/positionGray.png') no-repeat left;
					background-size:0.20rem;
					padding-left:0.3rem;
					.font_normal;
				}
				height:0.4rem;
				line-height:0.4rem;
				padding-left:0.7rem;
			}
			.sinceConent{
				height:0.4rem;
				line-height:0.4rem;
				padding-left:0.7rem;
				span{
					.font_small;
					color:@color_gray;
					padding-left:0.3rem;
				}
				.left{
					background:url('../images/clock.png') no-repeat left;
					background-size:0.2rem;
				}
				.right{
					margin-left:0.5rem;
					background:url('../images/grayPhone.png') no-repeat left;
					background-size:0.2rem;
				}
			}
		}
		.detailRow{
			height:0.5rem!important;
			line-height:0.5rem!important;
		}
		.checked {
				background: url("../images/3.png") no-repeat left !important;
				background-size: 0.5rem !important;
				border: none !important;
			}
		}
	.delivery{
		display:none;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		font-size: 0.35rem;
		color: #6d6b6b;
	}
	.select{
		display:block;
		ul{
			display:block;
		}
		p{
			display:block;
		}
	}
	
	.list{
		border-bottom: 0!important;
		padding-bottom: 0!important;
		margin: 0 0.45rem!important;
	}
  }
}