@import "global";
@import "component";

.back{
	position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
	background: url('../images/back.png') no-repeat 40% #e5e5e5;
    background-size: 0.25rem;
    top: 0.3rem;
    left: 0.2rem;
}
.banner{
	height:5rem;
	width:100%;
	display:block;
}
.bannerInfo{
	height:2.5rem;
	padding: 0.2rem 0.3rem;
    box-sizing: border-box;
	.left{
		height:2.5rem;
		width:auto;
		padding-right:1.5rem;
		.name{
			.font_x_large_bold;
			height: 0.6rem;
			line-height: 0.6rem;
			display: block;
			float: left;
			margin-right:0.1rem;
		}
		.single{
			line-height: 0.3rem !important;
		}
		.weight{
			display: block;
			height: 0.6rem;
			line-height: 0.8rem;
			color: @color_dark_gray;
		}
		.unit_price{
			height: 0.8rem;
			line-height: 0.8rem;
			float: left;
			font-size: 0.3rem;
			color: @color_orange;
			margin-right: 0.25rem;
			margin-top:-0.2rem;
			span{
				.font_x_large;
				color: orange;
			}
		}
		.market_price{
			height: 0.8rem;
			line-height: 0.8rem;
			.font_large;
			margin-top:-0.2rem;
		}
	}
	.right{
		height:2.1rem;
		width:2rem;
		float:right;
		position: relative;
		.box{
			background:@color_orange;
			display: block;
			width: 1.3rem;
			line-height: 0.5rem;
			height: 0.5rem;
			color: white;
			text-align: center;
			float:right;
		}
		.regulator_right {
			position: absolute;
			bottom:0.4rem;
			left:0.3rem;
			display: inline-block;
			float: right;
			width: 1.4rem;
			a {
				box-sizing: border-box;
				display: block;
				border: 1px solid @color_orange;
				width: 0.5rem;
				height: 0.5rem;
				text-align: center;
				border-radius: 50%;
				line-height: 0.5rem;
				vertical-align: middle;
				overflow: hidden;
				float: left;
			}
			span {
				display: block;
				width: 0.4rem;
				height: 0.5rem;
				line-height: 0.5rem;
				vertical-align: middle;
				float: left;
				overflow: hidden;
				text-align:center;
			}
			a:active {
				background: @color_orange;
				color: @color_white;
			}
		}
	}
}
ul{
	margin-bottom:1.4rem;
	.commandList{
		img{
			width: 100%;
			display: block;
		}
		p{
			margin: 0.2rem 0.15rem;
			font-size: 0.3rem;
			color: @color_dark_gray;
		}
	}
}

.footer {
	@footer_height:1rem;
	z-index: 1001;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: @footer_height;
	background: white;
	border-top: 1px solid @color_gray;
	.left {
		background: @color_white;
		width: auto;
		margin-right: 2rem;
		height: @footer_height;
		.shop {
			position: relative;
			float: left;
			width: @footer_height;
			height: @footer_height;
			background: url("../images/shop.png") no-repeat center;
			background-size: @footer_height - 0.4rem;
			span {
				display: none;
				width: @footer_height - 0.6rem;
				height: @footer_height - 0.6rem;
				line-height: @footer_height - 0.6rem;
				border-radius: 50%;
				background: @color_orange;
				color: @color_white;
				text-align: center;
				vertical-align: middle;
				position: absolute;
				top: 0.1rem;
				right: 0;
				font-size: @footer_height - 0.8rem;
			}
		}
		.shop_info {
			width: auto;
			@height: @footer_height - 0.2rem;
			margin-left: @footer_height - 0.2rem + 0.2rem;
			@line1_height: 1rem;
			@line2_height: 0.3rem;
			@padding-top: (@height - @line1_height - @line2_height) / 2;
			padding: @padding-top 0;
			height: @height - @padding-top * 2;
			.line1 {
				height: @line1_height;
				line-height: @line1_height;
				.font_large_bold;
			}
			.line2 {
				height: @line2_height;
				line-height: @line2_height;
				font-size: @line2_height - 0.1rem;
			}
		}
	}
	.right {
		height: @footer_height;
		float: right;
		width: 2rem;
		background: @color_smoky_gray ;
		text-align: center;
		.font_xx_large;
		line-height: @footer_height;
		color: @color_white;
		vertical-align: middle;
	}
	.buttonStatus{
		background: @color_orange!important;
	}
}