@import "global";
@import "component";
.set_height{
	height:100vh !important;
	overflow:hidden !important;
}
#index{
	@header-height: 1.4rem;
	background:@color_misty_gray;
	.show{
		display:block !important;
	}
	.hide{
		display:none !important;
	}
	.board {
		height: @header-height;
		top: 0;
		width: 100%;
		z-index: 100;	
		background:@color_misty_gray;
		.left {
			height: @header-height;
			width: 100%;
			float: left;
			.sculpture {
				overflow: hidden;
				width: @header-height - 0.6rem;
				height: @header-height - 0.6rem;
				margin: 0.3rem 0.2rem;
				float: left;
				border-radius: 50%;
				background: url("../images/default_icon.png") no-repeat center;
				background-size: 0.8rem;
				img {
					max-width: 100%;
					height: 100%;
				}
			}
			.leaderName {
				height:@header-height / 3;
				line-height:@header-height / 3;
				margin-top: 0.2rem;
				color: @color_dark_gray;
				span {
					font-size: 0.3rem;
					margin: 0 0.1rem;
					.font_large;
				}
			}
			.leaderAddress {
				height:@header-height / 3;
				line-height:@header-height / 3;
				color: @color_dark_gray;
				background:url('../images/position.png') no-repeat 10px;
				background-size:0.25rem;
				padding-left:0.5rem;
				margin-left: @header-height - 0.4rem;
				margin-bottom: 0.3rem;
			}
		}
		.right {
			height: @header-height;
			box-sizing: border-box;
			position: absolute;
			right: 0.2rem;
			top: 0;
			width: 3.5rem;
			.attend,.spare{
				height:0.6rem;
				line-height:0.6rem;
				margin-top:0.1rem;
				text-align: center;
				float:right;
				margin-right:0.1rem;
				span {
					color: #ff6600;
					margin: 0 0.05rem;
				}
			}
		}
		.send{
			height:0.6rem;
			line-height:0.6rem;
			margin-bottom:0.1rem;
			background: url("../images/car.png") no-repeat left;
			background-size: 0.35rem;
			color: @color_dark_gray;
			padding-left:0.5rem;
			float:right;
		}
	}
	.main {
		overflow: hidden;
		ul {
			margin-bottom: 1.4rem;
			li {
				margin-bottom: 0.2rem;
				border-bottom: 1px solid @color_gray;
				border-top: 1px solid @color_gray;
				div {
					background: @color_white;
					img {
						max-height: 100%;
						max-width: 100%;
					}
				}
				.content {
					padding: 0.3rem 0;
				}
				.first {
					margin: 0 0.2rem;
					div {
						position: relative;
						margin-bottom: 0.2rem;
						overflow: hidden;
						h1 {
							.font_large_bold;
							float: left;
						}
						span {
							display:block;
							width:1.2rem;
							height:0.5rem;
							line-height:0.5rem;
							text-align:center;
							color:white;
							float:right;
							background: @color_orange;
							.font_small;
						}
					}
					p {
						.font_normal;
						line-height: 170%;
						color: @color_dark_gray;
					}
				}
				.buyer {
					height: 1.2rem;
					line-height: 1.2rem;
					border-top:1px solid @color_misty_gray;
					border-bottom:1px solid @color_misty_gray;
					margin:0.3rem 0.2rem 0 0.2rem;
					overflow: hidden;
					.left{
						max-width:7rem;
						height:1.2rem;
						overflow:hidden;
						background:url('../images/sale.png') no-repeat left;
						background-size:0.7rem;
						padding-left:0.7rem;
						.headPortrait{
							width:0.8rem;
							height:0.8rem;
							line-height:0.8rem;
							float:left;
							border-radius:50%;
							overflow:hidden;
							margin:0.2rem 0.1rem;
							background: url(../images/default_icon.png) center no-repeat;
							background-size: 0.8rem;
							img{
								height:0.8rem;
							}
						}
					}
					.right{
						width:0.5rem;
						height:1.2rem;
						line-height:1.2rem;
						font-size:0.3rem;
						float:right;
					}
				}
				.last {
					@height: 0.8rem;
					margin: 0.3rem 0;
					.regulator {
						width: 100%;
						margin-right: 2rem;
						height: @height;
						.groupon_icon {
							background: @color_charcoal_gray;
							width: @height;
							height: @height;
							float: left;
							img {
								@img_height: @height - 0.1rem;
								margin: (@height - @img_height)/2;
								width: @img_height;
								height: @img_height;
							}
						}
						.groupon {
							height: @height;
							width: auto;
							background: @color_green;
							float: left;
							border-radius: 0 3.5rem 3.5rem 0;
							z-index: 101;
							padding-right: 0.2rem;
							margin-right: 0.2rem;
							span {
								display: inline-block;
								height: 0.8rem;
								line-height: 0.8rem;
								text-align: center;
								color: @color_white;
								.font_large;
							}
							span:nth-child(1) {
								font-size: 0.35rem;
							}
							span:nth-child(2) {
								margin: 0 -0.01rem;
							}
						}
						.market_price{
							height: 0.8rem;
							line-height: 1.2rem;
							.font_large;
							color: @color_smoky_gray;
							text-decoration: line-through;
						}
					}
					.counter {
						@counter_height: @height - 0.25rem;
						width:1.6rem;
						height: @counter_height;
						line-height: 100%;
						float: right;
						margin: (@height - @counter_height )/2 0.2rem;
						span, .btn {
							float: left;
							width: 0.5rem;
							height: 0.5rem;
							text-align: center;
							line-height: 0.5rem;
							.font_large;
						}
						.btn {
							border: 1px solid @color_orange;
							border-radius: 50%;
						}
						.btn:active {
							background: @color_orange;
							color: @color_white;
							
						}
					}
				}
			}
		}
	}
	.footer {
		@footer_height:1rem;
		z-index: 1001;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: @footer_height;
		background: white;
		border-top: 1px solid @color_gray;
		.left {
			background: @color_white;
			width: auto;
			margin-right: 2rem;
			height: @footer_height;
			.shop {
				position: relative;
				float: left;
				width: @footer_height;
				height: @footer_height;
				background: url("../images/shop.png") no-repeat center;
				background-size: @footer_height - 0.4rem;
				span {
					display: none;
					width: @footer_height - 0.6rem;
					height: @footer_height - 0.6rem;
					line-height: @footer_height - 0.6rem;
					border-radius: 50%;
					background: @color_orange;
					color: @color_white;
					text-align: center;
					vertical-align: middle;
					position: absolute;
					top: 0.1rem;
					right: 0;
					font-size: @footer_height - 0.8rem;
				}
			}
			.shop_info {
				width: auto;
				@height: @footer_height - 0.2rem;
				margin-left: @footer_height - 0.2rem + 0.2rem;
				@line1_height: 1rem;
				@line2_height: 0.3rem;
				@padding-top: (@height - @line1_height - @line2_height) / 2;
				padding: @padding-top 0;
				height: @height - @padding-top * 2;
				.line1 {
					height: @line1_height;
					line-height: @line1_height;
					.font_large_bold;
				}
				.line2 {
					height: @line2_height;
					line-height: @line2_height;
					font-size: @line2_height - 0.1rem;
				}
			}
		}
		.right {
			height: @footer_height;
			float: right;
			width: 2rem;
			background: @color_smoky_gray ;
			text-align: center;
			.font_xx_large;
			line-height: @footer_height;
			color: @color_white;
			vertical-align: middle;
		}
		.buttonStatus{
			background: @color_orange!important;
		}
	}
	.order_button {
		.font_x_large;
		position: fixed;
		bottom: 2rem;
		right: 0;
		width: 0.8rem;
		height: 1rem;
		line-height: 1rem;
		border-radius: 50px 0px 0px 50px;
		background:url("../images/order.png") no-repeat 20% center #2C7100;
		background-size: 0.3rem;
		color:@color_white;
		text-align:left;
		padding-left: 0.7rem;   
		opacity: 0.8;
	}
}
