@import "global";
@import "component";

.box{
	/*margin-top:1rem;*/
	height:10rem;
	padding:0 0.2rem;
	box-sizing:border-box; 
	width:100%;
	li{
		height:1.2rem;
		border-bottom:1px solid #ccc;
		.left{
			width:1.2rem;
			height:1.2rem;
			float:left;
			.leader{
				width:0.8rem;
				height:0.8rem;
				margin:0.2rem;
				border-radius:50%;
				overflow:hidden;
				float:left;
				background: url("../images/user.png") no-repeat center;
				background-size: 1rem;
				img{
					width:0.8rem;
					height:0.8rem;
					display:block;
				}
			}
		}
		.center{
			.name,.time{
				height:0.6rem;
				line-height:0.4rem;
				box-sizing: border-box;
			}
			.name{
				padding-top:0.2rem;
			}
			.time{
				padding-bottom:0.2rem;
			}
			width:auto;
			height:1.2rem;
			line-height:1.2rem;
			box-sizing: border-box;
			padding: 0 0.8rem 0 1.2rem;
		}
		.right{
			width:0.8rem;
			height:1.2rem;
			line-height:1.2rem;
			float:right;
			text-align: right;
			box-sizing: border-box;
			padding: 0 0.2rem;
		}
	}
}