* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: 0.25rem;
  height: 100%;
  font-family: '微软雅黑', Helvetica, Tahoma, Arial, '华文细黑', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}
.font_small {
  font-size: 0.2rem;
  font-weight: normal;
}
.font_small_bold {
  font-size: 0.2rem;
  font-weight: bold;
}
.font_normal {
  font-size: 0.25rem;
  font-weight: normal;
}
.font_normal_bold {
  font-size: 0.25rem;
  font-weight: bold;
}
.font_large {
  font-size: 0.3rem;
  font-weight: normal;
}
.font_large_bold {
  font-size: 0.3rem;
  font-weight: bold;
}
.font_x_large {
  font-size: 0.35rem;
  font-weight: normal;
}
.font_x_large_bold {
  font-size: 0.35rem;
  font-weight: bold;
}
.font_xx_large {
  font-size: 0.4rem;
  font-weight: normal;
}
.font_xx_large_bold {
  font-size: 0.4rem;
  font-weight: bold;
}
.font_xxx_large {
  font-size: 0.5rem;
  font-weight: normal;
}
.font_xxx_large_bold {
  font-size: 0.5rem;
  font-weight: bold;
}
/*解决模拟页面跳转，scroll不在顶部位置*/
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
/*通用卡片*/
.card {
  /*margin:0.2rem 0;*/
  margin-bottom: 0.2rem;
  background: white;
}
/*通用header头*/
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 1rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
  line-height: 1rem;
}
.header .ico {
  overflow: hidden;
  display: block;
  z-index: 999;
  line-height: 1rem;
  height: 1rem;
  width: 0.8rem;
  position: absolute;
}
.header .back {
  background: url("../images/back.png") center center no-repeat;
  background-size: 0.2rem;
}
.header .close {
  background: url("../images/close.png") center center no-repeat;
  background-size: 0.2rem;
}
.header .text {
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  line-height: 1rem;
  -webkit-user-select: none;
  color: #599c3d;
  height: 1rem;
  vertical-align: middle;
  width: 100%;
}
.header .right {
  width: 1.5rem;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  color: #599c3d;
  right: 0.2rem;
  text-align: right;
}
/*通用button*/
.button {
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
.button .text {
  background: #ff9934;
  color: white;
  text-align: center;
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.35rem;
  font-weight: normal;
}
.fixed {
  position: fixed;
}
.smallButton {
  bottom: 0;
  width: 50%;
  z-index: 1100;
}
.smallButton .select {
  height: 0.9rem;
  background: white;
}
.smallButton .select .text {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
}
.seat {
  float: right;
}
.seat .select .text {
  background: #ff9934;
}
/*标题通栏*/
.title {
  height: .5rem;
  line-height: .5rem;
  padding: .2rem;
  font-size: 0.35rem;
  font-weight: normal;
}
/*三列列表*/
.list {
  background: white;
  margin: 0 0.2rem;
  border-bottom: 1px solid #e5e5e5;
}
.list li:last-child {
  border: none !important;
}
.list .row {
  padding: .15rem 0;
  border-bottom: 1px solid #e5e5e5;
}
.list .row span {
  display: inline-block;
  color: #6D6B6B;
}
.list .row .left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3rem;
}
.list .row .right {
  float: right;
}
.list .row .center {
  margin-right: 0.3rem;
  float: right;
}
/*单行2列列表*/
.single_list_border {
  font-size: 0.25rem;
  font-weight: normal;
  margin: 0 0.2rem;
  height: 0.7rem;
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.7rem;
}
.single_list_border p span {
  display: inline-block;
  float: right;
}
/*单行2列列表,无底部边框*/
.single_list {
  padding: 0.05rem 0.2rem;
  font-size: 0.25rem;
  font-weight: bold;
  height: 0.6rem;
  line-height: 0.6rem;
}
.single_list span {
  font-size: 0.25rem;
  font-weight: bold;
}
.single_list div {
  font-size: 0.25rem;
  font-weight: normal;
  float: right;
}
.single_list div .text {
  font-size: 0.25rem;
  font-weight: bold;
  color: #ff9934;
}
/*弹出层遮罩*/
.matter {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 0;
  bottom: 1.7rem;
}
/*手机登陆弹窗*/
.phone_matter {
  display: none;
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 1.7rem;
}
.phone_matter .register {
  width: 5rem;
  height: 3rem;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.2rem;
}
.phone_matter .register .content {
  width: 100%;
  height: 2rem;
}
.phone_matter .register .content .box {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
}
.phone_matter .register .content .box .left {
  float: left;
  margin: 0 0.2rem;
}
.phone_matter .register .content .box .getCode {
  width: 1.5rem;
  float: right;
  height: 0.6rem;
  line-height: 0.6rem;
  background: orange;
  color: white;
  text-align: center;
  margin: 0.2rem 0;
}
.phone_matter .register .content .box .but_null {
  background: #ccc;
}
.phone_matter .register .content .box input {
  width: 2rem;
  height: 0.5rem;
}
.phone_matter .register .content .box .mob {
  width: 3.5rem !important;
}
.phone_matter .register .button_sure {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  background: #ff9934;
  font-size: 0.4rem;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: 0.1rem 0;
}
/*购物车弹窗*/
.popup-window-from-bottom {
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  margin-bottom: 1rem;
}
.popup-window-from-bottom .box {
  margin: 0.25rem 0.2rem 0 0.2rem;
}
.popup-window-from-bottom .box .popup-bottom-title {
  height: 0.6rem;
  padding-right: 0.1rem;
  background: #f0f2f5;
}
.popup-window-from-bottom .box .popup-bottom-title .oder {
  width: auto;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder {
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_img {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url("../images/book.png") no-repeat center;
  background-size: 0.4rem;
  float: left;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_text {
  margin-left: 0.1rem;
  display: inline-block;
  font-size: 0.3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.popup-window-from-bottom .box .popup-bottom-title .del {
  float: right;
  width: 1.5rem;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del {
  height: 0.4rem;
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_img {
  display: inline-block;
  background: url("../images/del.png") no-repeat center;
  width: 0.4rem;
  height: 0.4rem;
  background-size: 0.4rem;
  float: right;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_text {
  line-height: 0.4rem;
  display: inline-block;
  font-size: 0.2rem;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  float: right;
}
.popup-window-from-bottom .box .cart {
  max-height: 3.6rem;
  margin: 0 0.2em;
  overflow-y: auto;
}
.popup-window-from-bottom .box .cart li:last-child {
  border: none;
}
.popup-window-from-bottom .box .cart li {
  padding: 0.2rem 0;
  border-bottom: 1px solid #CCCCCC;
}
.popup-window-from-bottom .box .cart li li:last-child {
  border-bottom: none;
}
.popup-window-from-bottom .box .cart .template .field_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: auto;
  margin-right: 3rem;
  overflow: hidden;
  line-height: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
}
.popup-window-from-bottom .box .cart .template .popup_reduce {
  width: 2.5rem;
  float: right;
  height: 0.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 0.5rem;
  margin-right: 0.1rem;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .field_price {
  display: inline-block;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .price {
  height: 0.5rem;
  text-align: left;
  line-height: 0.5rem;
  vertical-align: middle;
  width: 1.1rem;
  float: left;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right {
  display: inline-block;
  float: right;
  width: 1.4rem;
  line-height: 100%;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right .btn {
  display: block;
  border: 1px solid #ff9934;
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  border-radius: 50%;
  line-height: 0.4rem;
  vertical-align: middle;
  overflow: hidden;
  float: left;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right span {
  display: block;
  width: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  vertical-align: middle;
  float: left;
  overflow: hidden;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right .btn:active {
  background: #ff9934;
  color: white;
}
body {
  background: #CCCCCC;
}
.set_width {
  width: 75% !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.search {
  width: 100%;
  height: 1rem;
  background: #599c3d;
  position: fixed;
  top: 0;
  z-index: 11;
}
.search .cicle {
  width: 90%;
  height: 0.7rem;
  margin: 0.15rem 0 0.15rem 5%;
  border-radius: 20px;
  background: url('../images/search.png') no-repeat 4% #3e6d2b;
  background-size: 0.4rem;
}
.search .cicle input {
  display: block;
  outline: none;
  border: none;
  background: #3e6d2b;
  font-size: 0.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  width: 80%;
  margin-left: 0.7rem;
  color: white;
  padding: 0.1rem 0;
}
.search .cicle input::-webkit-input-placeholder {
  color: white;
}
.search .cancel {
  width: 20%;
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  font-size: .3rem;
  float: right;
  text-align: center;
}
.searchBox .content {
  color: white;
  font-size: 0.4rem;
  font-weight: normal;
  display: block;
  height: 100vh;
  line-height: 80vh;
  box-sizing: border-box;
  text-align: center;
}
.box {
  margin-top: 1rem;
}
.box ul li:last-child {
  margin-bottom: 0 !important;
}
.box ul .rows {
  background: white;
  margin-bottom: 0.2rem;
}
.box ul .rows .banner {
  height: 4rem;
  position: relative;
}
.box ul .rows .banner .Subtitle,
.box ul .rows .banner h1,
.box ul .rows .banner .statusInfo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  z-index: 10;
  color: white;
  height: 0.8rem;
  line-height: 0.8rem;
}
.box ul .rows .banner span {
  height: 0.5rem;
  font-size: 0.35rem;
  font-weight: normal;
  border-bottom: 1px solid white;
  color: white;
}
.box ul .rows .banner h1 {
  top: 1.5rem !important;
}
.box ul .rows .banner .bg,
.box ul .rows .banner .mask {
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.3;
  z-index: 2;
}
.box ul .rows .banner .statusInfo {
  border-radius: 20px;
  width: 3rem;
  background: #000;
  opacity: 0.7;
  font-size: 0.35rem;
}
.box ul .rows .banner .bg {
  opacity: 0.6;
}
.box ul .rows .reseller {
  height: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding: 0 0.2rem;
}
.box ul .rows .reseller .info {
  width: auto;
  height: 1.2rem;
  margin: 0.15rem;
}
.box ul .rows .reseller .info .leader {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/default_icon.png") no-repeat center;
  background-size: 1.2rem;
  float: left;
}
.box ul .rows .reseller .info .leader img {
  height: 1.2rem;
}
.box ul .rows .reseller .info .leaderinfo {
  margin-left: 1.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
}
.box ul .rows .reseller .info .leaderinfo span {
  font-size: 0.35rem;
  margin-right: 0.2rem;
}
.box ul .rows .reseller .right {
  height: 0.5rem;
  background: url('../images/position.png') no-repeat left;
  background-size: 0.25rem;
  float: right;
  padding-left: 0.3rem;
  line-height: 0.5rem;
  text-align: right;
}
.box ul .rows .purchase {
  height: 1.2rem;
  padding: 0.2rem;
  box-sizing: border-box;
}
.box ul .rows .purchase .button {
  width: 2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #599c3d;
  font-size: 0.3rem;
  font-weight: normal;
  text-align: center;
  color: white;
  border-radius: 10px;
  float: right;
}
.box ul .rows .purchase .gray {
  background: #c8c8c8 !important;
}
.box ul .rows .purchase .productsInfo {
  width: 4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  font-weight: normal;
  text-align: left;
  color: #6D6B6B;
}
.footer {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  color: white;
  font-size: 0.3rem;
}
