* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: 0.25rem;
  height: 100%;
  font-family: '微软雅黑', Helvetica, Tahoma, Arial, '华文细黑', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}
.font_small {
  font-size: 0.2rem;
  font-weight: normal;
}
.font_small_bold {
  font-size: 0.2rem;
  font-weight: bold;
}
.font_normal {
  font-size: 0.25rem;
  font-weight: normal;
}
.font_normal_bold {
  font-size: 0.25rem;
  font-weight: bold;
}
.font_large {
  font-size: 0.3rem;
  font-weight: normal;
}
.font_large_bold {
  font-size: 0.3rem;
  font-weight: bold;
}
.font_x_large {
  font-size: 0.35rem;
  font-weight: normal;
}
.font_x_large_bold {
  font-size: 0.35rem;
  font-weight: bold;
}
.font_xx_large {
  font-size: 0.4rem;
  font-weight: normal;
}
.font_xx_large_bold {
  font-size: 0.4rem;
  font-weight: bold;
}
.font_xxx_large {
  font-size: 0.5rem;
  font-weight: normal;
}
.font_xxx_large_bold {
  font-size: 0.5rem;
  font-weight: bold;
}
/*解决模拟页面跳转，scroll不在顶部位置*/
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
/*通用卡片*/
.card {
  margin: 0.2rem 0;
  background: white;
}
/*弹出层遮罩*/
.matter {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .26;
  z-index: 1000;
  top: 0;
  bottom: 1.7rem;
}
/*通用header头*/
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  height: 1rem;
  background: #e5e5e5;
  border-bottom: solid 1px #c8c8c8;
  line-height: 1rem;
}
.header .ico {
  overflow: hidden;
  display: block;
  z-index: 999;
  line-height: 1rem;
  height: 1rem;
  width: 0.8rem;
  position: absolute;
}
.header .back {
  background: url("../images/back.png") center center no-repeat;
  background-size: 0.2rem;
}
.header .close {
  background: url("../images/close.png") center center no-repeat;
  background-size: 0.2rem;
}
.header .text {
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  line-height: 1rem;
  -webkit-user-select: none;
  color: #599c3d;
  height: 1rem;
  vertical-align: middle;
  width: 100%;
}
.header .right {
  width: 1.5rem;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  color: #599c3d;
  right: 0.2rem;
  text-align: right;
}
/*通用button*/
.button {
  bottom: 0;
  width: 100%;
  z-index: 1100;
}
.button .text {
  background: #ff9934;
  color: white;
  text-align: center;
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.35rem;
  font-weight: normal;
}
.fixed {
  position: fixed;
}
.smallButton {
  bottom: 0;
  width: 50%;
  z-index: 1100;
}
.smallButton .select {
  height: 0.9rem;
  background: white;
}
.smallButton .select .text {
  background: #599c3d;
  margin: 0.1rem 0.1rem;
  color: white;
  text-align: center;
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
}
.seat {
  float: right;
}
.seat .select .text {
  background: #ff9934;
}
/*标题通栏*/
.title {
  height: .5rem;
  line-height: .5rem;
  padding: .2rem .3rem;
  font-size: 0.35rem;
  font-weight: normal;
}
.title_old {
  background: #f0f2f5;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0.2rem 0.3rem;
}
.title_old span {
  display: inline-block;
}
.title_old .adds {
  background: url("../images/adds.png") no-repeat center;
  background-size: 0.4rem;
  width: 0.4rem;
  height: 0.4rem;
}
.title_old .shop {
  background: url("../images/1.png") no-repeat center;
  background-size: 0.4rem;
  width: 0.4rem !important;
  height: 0.4rem !important;
  line-height: 0.4rem !important;
  margin: 0.05rem 0;
}
.title_old .message {
  background: url("../images/pop.png") no-repeat center;
  background-size: 0.4rem;
}
.title_old .img {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  float: left;
}
.title_old .text {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.25rem;
  font-weight: bold;
  margin-left: 0.1rem;
}
/*三列列表*/
.list {
  background: white;
  margin: 0 0.25rem;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.3rem;
}
.list .row {
  padding: 0.1rem 0;
}
.list .row span {
  display: inline-block;
  color: #6D6B6B;
}
.list .row .left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3rem;
}
.list .row .right {
  float: right;
}
.list .row .center {
  margin-right: 0.3rem;
  float: right;
}
/*单行2列列表*/
.single_list_border {
  font-size: 0.25rem;
  font-weight: normal;
  margin: 0.2rem 0.3rem;
  height: 0.6rem;
  border-bottom: 1px solid #CCCCCC;
  line-height: 0.6rem;
  padding-bottom: 0.2rem;
}
.single_list_border p span {
  display: inline-block;
  float: right;
}
.single_list {
  padding: 0.2rem 0.3rem;
  font-size: 0.25rem;
  font-weight: bold;
  height: 0.6rem;
  line-height: 0.6rem;
}
.single_list span {
  font-size: 0.25rem;
  font-weight: bold;
}
.single_list div {
  font-size: 0.25rem;
  font-weight: normal;
  float: right;
}
.single_list div .text {
  font-size: 0.25rem;
  font-weight: bold;
  color: #ff9934;
}
.back {
  position: fixed;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: url('../images/back.png') no-repeat 40% #e5e5e5;
  background-size: 0.25rem;
  top: 0.3rem;
  left: 0.2rem;
}
.banner {
  height: 5rem;
  width: 100%;
  display: block;
}
.bannerInfo {
  padding: 0.2rem 0.3rem;
  box-sizing: border-box;
}
.bannerInfo .oneline {
  height: 0.8rem;
}
.bannerInfo .oneline .name {
  font-size: 0.35rem;
  font-weight: bold;
  height: 0.8rem;
  line-height: 0.8rem;
  display: block;
  float: left;
  margin-right: 0.1rem;
}
.bannerInfo .oneline .weight {
  display: table-cell;
  vertical-align: bottom;
  height: 0.6rem;
}
.bannerInfo .oneline .box {
  background: #ff9934;
  display: block;
  width: 1.3rem;
  line-height: 0.5rem;
  height: 0.5rem;
  color: white;
  text-align: center;
  float: right;
  margin: 0.15rem 0;
}
.bannerInfo .twoline {
  color: #6D6B6B;
  line-height: 0.35rem;
}
.bannerInfo .threeline {
  height: 0.8rem;
}
.bannerInfo .threeline .regulator_right {
  float: right;
  width: 1.5rem;
  height: 0.8rem;
  padding: 0.15rem 0;
  box-sizing: border-box;
}
.bannerInfo .threeline .regulator_right a {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ff9934;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  border-radius: 50%;
  line-height: 0.5rem;
  vertical-align: middle;
  overflow: hidden;
  float: left;
}
.bannerInfo .threeline .regulator_right span {
  display: block;
  width: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  vertical-align: middle;
  float: left;
  overflow: hidden;
  text-align: center;
}
.bannerInfo .threeline .regulator_right a:active {
  background: #ff9934;
  color: white;
}
.bannerInfo .threeline .unit_price {
  height: 0.8rem;
  line-height: 0.8rem;
  float: left;
  font-size: 0.3rem;
  color: #ff9934;
  margin-right: 0.25rem;
}
.bannerInfo .threeline .unit_price span {
  font-size: 0.35rem;
  font-weight: normal;
  color: orange;
}
.bannerInfo .threeline .market_price {
  height: 0.62rem;
  display: table-cell;
  vertical-align: bottom;
  font-size: 0.3rem;
  font-weight: normal;
  color: #c8c8c8;
  text-decoration: line-through;
}
ul {
  margin-bottom: 1.4rem;
}
ul .commandList img {
  width: 100%;
  display: block;
}
ul .commandList p {
  margin: 0.2rem 0.15rem;
  font-size: 0.3rem;
  color: #6D6B6B;
}
.footer {
  z-index: 1001;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: white;
  border-top: 1px solid #CCCCCC;
}
.footer .left {
  background: white;
  width: auto;
  margin-right: 2rem;
  height: 1rem;
}
.footer .left .shop {
  position: relative;
  float: left;
  width: 1rem;
  height: 1rem;
  background: url("../images/shop.png") no-repeat center;
  background-size: 0.6rem;
}
.footer .left .shop span {
  display: none;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 50%;
  background: #ff9934;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-size: 0.2rem;
}
.footer .left .shop_info {
  width: auto;
  margin-left: 1rem;
  padding: -0.25rem 0;
  height: 1.3rem;
}
.footer .left .shop_info .line1 {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.3rem;
  font-weight: bold;
}
.footer .left .shop_info .line2 {
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.footer .right {
  height: 1rem;
  float: right;
  width: 2rem;
  background: #c8c8c8;
  text-align: center;
  font-size: 0.4rem;
  font-weight: normal;
  line-height: 1rem;
  color: white;
  vertical-align: middle;
}
.footer .buttonStatus {
  background: #ff9934 !important;
}
.popup-window-from-bottom {
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  margin-bottom: 1rem;
}
.popup-window-from-bottom .box {
  margin: 0.25rem 0.2rem 0 0.2rem;
}
.popup-window-from-bottom .box .popup-bottom-title {
  height: 0.6rem;
  padding-right: 0.1rem;
  background: #f0f2f5;
}
.popup-window-from-bottom .box .popup-bottom-title .oder {
  width: auto;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder {
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_img {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url("../images/book.png") no-repeat center;
  background-size: 0.4rem;
  float: left;
}
.popup-window-from-bottom .box .popup-bottom-title .oder .popup_bottom_oder .oder_text {
  margin-left: 0.1rem;
  display: inline-block;
  font-size: 0.3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.popup-window-from-bottom .box .popup-bottom-title .del {
  float: right;
  width: 1.5rem;
  height: 0.6rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del {
  height: 0.4rem;
  padding: 0.1rem;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_img {
  display: inline-block;
  background: url("../images/del.png") no-repeat center;
  width: 0.4rem;
  height: 0.4rem;
  background-size: 0.4rem;
  float: right;
}
.popup-window-from-bottom .box .popup-bottom-title .del .popup_bottom_del .del_text {
  line-height: 0.4rem;
  display: inline-block;
  font-size: 0.2rem;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  float: right;
}
.popup-window-from-bottom .box .cart {
  max-height: 3.6rem;
  margin: 0 0.2em;
  overflow-y: auto;
}
.popup-window-from-bottom .box .cart li:last-child {
  border: none;
}
.popup-window-from-bottom .box .cart li {
  padding: 0.2rem 0;
  border-bottom: 1px solid #CCCCCC;
}
.popup-window-from-bottom .box .cart li li:last-child {
  border-bottom: none;
}
.popup-window-from-bottom .box .cart .template .field_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: auto;
  margin-right: 3rem;
  overflow: hidden;
  line-height: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
}
.popup-window-from-bottom .box .cart .template .popup_reduce {
  width: 2.5rem;
  float: right;
  height: 0.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 0.5rem;
  margin-right: 0.1rem;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .field_price {
  display: inline-block;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .price {
  height: 0.5rem;
  text-align: left;
  line-height: 0.5rem;
  vertical-align: middle;
  width: 1.1rem;
  float: left;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right {
  display: inline-block;
  float: right;
  width: 1.4rem;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right a {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ff9934;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  border-radius: 50%;
  line-height: 0.5rem;
  vertical-align: middle;
  overflow: hidden;
  float: left;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right span {
  display: block;
  width: 0.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  vertical-align: middle;
  float: left;
  overflow: hidden;
}
.popup-window-from-bottom .box .cart .template .popup_reduce .regulator_right a:active {
  background: #ff9934;
  color: white;
}
