<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/freeIndex.css">
	
	<link rel="stylesheet" href="assets/css/unslider.css">
    <link rel="stylesheet" href="assets/css/unslider-dots.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="assets/js/unslider-min.js"></script>
    <title></title>
</head>
<body>
	<div class='search'>
		<div class='cicle' >
			<input type='text' id='cicle' ng-keyup='onkeydown($event)' placeholder="搜索团主、商品" ng-focus="onfocusFn()" value="搜索团主、商品" onblur="if(this.value==''){this.value='搜索团主、商品'}" onfocus="if(this.value=='搜索团主、商品'){this.value=''}"/>
		</div>
	</div>
	<div class='searchBox' ng-if='searchBox'>
		<span class='content' ng-if = 'content'>没有搜索到您要的商品</span>
	</div>
	<div class='box' ng-if='box'>
		<ul>
			<li class='rows' ng-repeat='x in batch' on-finish-render-filters>
				<div class='banner'>
					<div ng-if='x.status >= 0'>
						<div class='Subtitle'><span>{{x.category}}</span></div>
						<h1>{{x.title}}</h1>
						<div class='mask'></div>				
					</div>
					<div ng-if='x.status < 0'>
						<div class='statusInfo'>团购已结束</div>
						<div class='bg'></div>
					</div>
					<div class="Carousel">
						<ul>
							<li ng-repeat='img in x.covers'><img ng-src='{{img}}' alt=''></li>
						</ul>
					</div>
				</div>
				<div class='reseller'>
					<div class='right'>{{x.location}}</div>
					<div class='info'>
						<div class='leader'><img ng-src='{{x.reseller.wx_headimgurl}}' alt='' /></div>
						<div class='leaderinfo'><span>{{x.reseller.name}}</span>团主</div>
						<div class='leaderinfo'>截团时间:{{x.dead_time | date}}</div>
					</div> 
				</div>
				<div class='purchase'>
					<div class='productsInfo'>已团成/已有{{x.participant_count}}人团购过</div>
					<div class='button' ng-click='jump(x.id)' ng-if='x.status >= 0'>去团购</div>
					<div class='button gray' ng-if='x.status < 0'>去团购</div>
				</div>
			</li>
		</ul>
	</div>
	<div class='footer'></div>
</body>
</html>
