<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>我是团购列表</title>
    <link rel="stylesheet" type='text/css' href="assets/css/freeIndex.min.css">
</head>
<body>
	<div class='search'>
		<div class='cancel' ng-class="{true:'show',false:'hide'}[searchBox]" ng-click='cancel()'>取消</div>
		<div class='cicle' ng-class="{true:'set_width',false:''}[setWidth]">
			<input type='text' id='cicle' ng-keyup='onkeydown($event)' placeholder="搜索团主、商品" ng-focus="focus()" ng-blur="blur()" ng-model='val'/>
		</div>
	</div>
	<div class='searchBox' ng-class="{true:'show',false:'hide'}[searchBox]">
		<span class='content' ng-if = 'content'>暂未找到匹配的团购活动</span>
	</div>
	<div class='box' ng-class="{true:'show',false:'hide'}[box]">
		<ul>
			<li class='rows' ng-repeat='x in batch' ng-click='jump(x)' on-finish-render-filters>
				<div class='banner'>
					<div ng-if='x.status >= 0'>
						<div class='Subtitle'><span>{{x.category}}</span></div>
						<h1>{{x.title}}</h1>
						<div class='mask'></div>				
					</div>
					<div ng-if='x.status < 0'>
						<div class='statusInfo'>团购已结束</div>
						<div class='bg'></div>
					</div>
					<div>
						<div>
							<img ng-src='{{x.covers[x.covers.match]}}' alt='' ng-style="{'height':'4rem','width':'100%'}">
						</div>
					</div>
				</div>
				<div class='reseller'>
					<div class='right'>{{x.location}}</div>
					<div class='info'>
						<div class='leader'><img ng-src='{{x.reseller.wx_headimgurl}}' alt='' /></div>
						<div class='leaderinfo'><span>{{x.reseller.name}}</span>团主</div>
						<div class='leaderinfo'>截团时间:{{x.dead_time | format}}</div>
					</div> 
				</div>
				<div class='purchase'>
					<div class='button' ng-class="{true:'',false:'gray'}[x.status >= 0]">去参团</div>
					<div class='productsInfo'>已有{{x.participant_count}}人参团</div>
				</div>
			</li>
		</ul>
	</div>
	<!--<div class='footer' ng-click='more()'>查看更多</div>-->
</body>
</html>
