<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/goodsDetails.min.css">
    <title></title>
</head>
<body>
	<div class='page'>
		<div class='back page' ng-click='back()'></div>
		<img class='banner' ng-src='{{batch.cover}}' alt='' />
		<div class='bannerInfo'>
			<div class='oneline'>
				<span class='box'>{{batch.spec_desc}}</span>
				<span class='name'>{{batch.title}}</span>
			</div>
			<div class='weight'>
				<span>({{batch.spec_desc}})</span>
			</div>
			<p class='twoline'>{{batch.desc}}</p>
			<div class='threeline'>
				<div class="regulator_right">
					<a href="javascript:void(0);" ng-click="removeShopCartNum();">-</a>
					<span class="center">{{shopCartNum | safenum}}</span>
					<a href="javascript:void(0);" ng-click="addShopCartNum();">+</a>
				</div>
				<div class='unit_price'>￥<span>{{batch.unit_price | int}}</span>.{{batch.unit_price | fraction}}</div>
				<div class='market_price'>￥{{batch.market_price | convert}}</div>
			</div>
		</div>
		<ul>
			<li class='commandList' ng-repeat='x in batch.details'>
				<img ng-src='{{x.image}}' alt='' />
				<!--<p>{{x.plain}}</p>-->
			</li>
		</ul>
		<div  class="footer">
			<a ng-class="{right:true, buttonStatus:shopCartData.totalNum>0}"  ng-click="checkout();">选好了</a>
			<div class="left" onclick="popup_window_from_bottom();">
				<div class="shop"><span class="__amount">{{shopCartData.totalNum}}</span></div>
				<div class="shop_info">
					<p class="line1">合计:<span class="__total">￥{{shopCartData.totalPrice | convert}}</span></p>
				</div>
			</div>
		</div>
		
		<div class="__overlay matter">
			<div class='__register register' ng-click='$event.stopPropagation();'>
				<div class='content'>
					<ul>
						<li class='box'>
							<div class='left'>手机号</div>
							<input class='__mob mob' type='tel' placeholder='请输入手机号'>
						</li>
						<li class='box'>
							<div class='left'>验证码</div>
							<div class='getCode' ng-click='getCode()'>获取验证码</div>
							<input class='__code' type='tel' placeholder='请输入验证码'>
						</li>
					</ul>
				</div>
			<div class='button_sure' ng-click='postMob()'>注册</div>
			</div>
		</div>
		<div class="popup-window-from-bottom">
			<div class="box">
				<div class="popup-bottom-title">
					<div class="del" ng-click="empty();">
						<div class="popup_bottom_del">
							<span class="del_text" >清空</span>
							<span class="del_img"></span>
						</div>

					</div>
					<div class="oder">
						<div class="popup_bottom_oder">
							<span class="oder_img"></span>
							<span class="oder_text">订单详情</span>
						</div>
					</div>
				</div>
				<ul  class="cart">
					<li class="template" ng-repeat="x in shopCartData.products" ng-if="!!x.num">
						<div class="popup_reduce">
							<div class="price">{{x.price | convert}}</div>
							<div class="regulator_right">
								<a href="javascript:void(0);" ng-click="removeCommodity(x);">-</a>
								<span class="center">{{x.num | safenum}}</span>
								<a href="javascript:void(0);" ng-click="addCommodity(x);">+</a>
							</div>
						</div>
						<span class="field_title">{{x.title}}</span>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
</body>
</html>
