<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type='text/css' href="assets/css/goodsDetails.css">
    <title></title>
</head>
<body>
	<div class='page' ng-class="{true:'set_height',false:''}[isHeight]">
		<img class='banner' ng-src='{{batch.cover}}' alt='' />
		<div class='bannerInfo'>
			<div class='oneline'>
				<span class='box'>{{batch.spec_desc}}</span>
				<p class='name'>{{batch.title}}</p>
			</div>
			<p class='twoline'>{{batch.desc}}</p>
			<div class='IDPurchase' ng-if='batch.limit>0'>每个ID限购{{batch.limit}}份</div>
			<div class='threeline'>
				<div class="regulator_right" ng-if='shopCartData.status==0'>
					<div class='btn' ng-class="{btn_g:batch.stock-batch.purchased_count==0,btn:null}" ng-click="removeShopCartNum(batch);">-</div>
					<span class="center">{{shopCartNum | safenum}}</span>
					<div ng-class='{btn_g:shopCartNum==batch.stock-batch.purchased_count||shopCartNum==batch.limit || batch.stock-batch.purchased_count==0 ,btn:shopCartNum!=batch.stock-batch.purchased_count}' ng-click="addShopCartNum(batch);">+</div>
				</div>
				<div class="regulator_right" ng-if='shopCartData.status!=0'>
					<div class='btn_g' ng-click="removeShopCartNum(batch);">-</div>
					<span class="center_g">{{shopCartNum | safenum}}</span>
					<div class='btn_g' ng-click="addShopCartNum(batch);">+</div>
				</div>
				<div class='unit_price'>￥<span>{{batch.unit_price | int}}</span>.{{batch.unit_price | fraction}}</div>
				<div class='surplus'>
					<div class='market_price'>￥{{batch.market_price | convert}}</div>
					<div class='GoodPurchase' ng-if='batch.stock-batch.purchased_count>=0'>剩余<span class='strong'>{{batch.stock-batch.purchased_count}}</span>份</div>
					<div class='GoodPurchase' ng-if='batch.stock-batch.purchased_count<0'>剩余<span class='strong'>0</span>份</div>
				</div>
			</div>
		</div>
		<ul>
			<li class='commandList' ng-repeat='x in batch.details'>
				<img ng-src='{{x.image}}' alt='' />
			</li>
		</ul>
		<div  class="footer">
			<a ng-class="{right:true, buttonStatus:shopCartData.totalNum>0}" ng-if='shopCartData.status==0' ng-click="checkout();">选好了</a>
			<a class='right' ng-if='shopCartData.status!=0' ng-click="checkout();">已结束</a>
			<div class="left" ng-click='popup()'>
				<div class="shop"><span ng-class="{true:'show',false:'hide'}[isAmount]">{{shopCartData.totalNum}}</span></div>
				<div class="shop_info">
					<p class="line1">合计:<span class="__total">￥{{shopCartData.totalPrice | convert}}</span></p>
				</div>
			</div>
		</div>
		
		<div class="phone_matter" ng-class="{true:'show',false:'hide'}[isRegister]" ng-click='register_hide()'>
			<div class='register' ng-click='$event.stopPropagation();'>
				<div class='content'>
					<ul>
						<li class='box'>
							<div class='left'>手机号</div>
							<input class='mob' type='tel' placeholder='请输入手机号' ng-model='mob'>
						</li>
						<li class='box'>
							<div class='left'>验证码</div>
							<div class='getCode' ng-click='getCode()' ng-class="{true:'but_null',false:''}[paraclass]" ng-bind='paracont'></div>
							<input type='tel' placeholder='请输入验证码' ng-model='code'>
						</li>
					</ul>
				</div>
				<div class='button_sure' ng-click='postMob()'>确定</div>
			</div>
		</div>
		<div class='matter' ng-class="{true:'show',false:'hide'}[isMatter]" ng-click='hide()'></div>
		<div class="popup-window-from-bottom" ng-class="{true:'show',false:'hide'}[isPopup]">
			<div class="box">
				<div class="popup-bottom-title">
					<div class="del" ng-click="empty();">
						<div class="popup_bottom_del">
							<span class="del_text" >清空</span>
							<span class="del_img"></span>
						</div>

					</div>
					<div class="oder">
						<div class="popup_bottom_oder">
							<span class="oder_img"></span>
							<span class="oder_text">订单详情</span>
						</div>
					</div>
				</div>
				<ul  class="cart">
					<li class="template" ng-repeat="x in shopCartData.products" ng-if="!!x.num">
						<div class="popup_reduce">
							<div class="price">{{x.price | convert}}</div>
							<div class="regulator_right">
								<div class='btn' ng-class="{btn_g:x.stock-x.purchased_count==0,btn:null}" ng-click="removeCommodity(x);">-</div>
								<span class="center">{{x.num | safenum}}</span>
								<div ng-class='{btn_g:x.num==x.stock-x.purchased_count||x.num==x.limit || x.stock-x.purchased_count==0 ,btn:x.num!=x.stock-x.purchased_count}' ng-click="addCommodity(x);">+</div>
							</div>
						</div>
						<span class="field_title">{{x.title}}</span>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
</body>
</html>
