<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type='text/css' href="assets/css/index.min.css">
    <title></title>
</head>
<body>
  <div id="index" ng-class="{true:'set_height',false:''}[isHeight]">
    <div class="board">
		<div class="right" >
			<div class='spare' ng-if='day>0'>剩<span>{{day}}</span>天</div>
			<div class='spare' ng-if='day<=0'>剩<span>{{hour}}</span>小时</div>
            <div class='attend'>已有<span>{{batch.participant_count}}人</span>参团</div>
			<div class='send'>预计{{batch.arrived_time | format_ch}}发货</div>
        </div>
        <div class="left" >
            <div class="sculpture"><img ng-src="{{reseller.wx_headimgurl}}"  alt=""></div>
			<p class='leaderName'><span>{{reseller.name}}</span>团主</p>
			<p class="leaderAddress">{{batch.location}}</p>
        </div> 
        
    </div>
    <div id="move" class="main" >
        <ul>    
            <li ng-repeat="x in commodities">
                <div class='banner' ng-click='goodsDetails(this.$index)'>
                    <img ng-src="{{x.cover}}"  alt="">
                </div>
                <div class="content">
                    <div class="first">
                        <div>
                            <h1>{{x.title}}</h1>
                            <span>{{x.spec_desc}}</span>
                        </div>
                        <p ng-click='goodsDetails(this.$index)'>{{x.desc}}</p>
                    </div>
					<div class='buyer' ng-click='jump(this.$index)'>
						<div class='right'>{{x.participant_count}}</div>
						<div class='left'>
							<div class='headPortrait' ng-repeat='buyer in x.participant_avatars track by $index'><img ng-src='{{buyer}}' alt='' /></div>
						</div>
					</div>
                    <div class="last ">
                        <div class="counter">
                            <div class="btn" ng-click="removeCommodity(x);">-</div>
                            <span class="block center">{{x.num | safenum}}</span>
                            <div class="btn" ng-click="addCommodity(x);">+</div>
                        </div>
                        <div class="regulator">
                            <span class="groupon_icon"><img src="assets/images/poper.png" alt=""></span>
                            <div class="groupon">
                                <span>￥{{x.unit_price | int}}</span>
                                <span>.</span>
                                <span>{{x.unit_price | fraction}}</span>
                            </div>
							<div class='market_price'>{{x.market_price | convert}}</div>
                        </div>
                    </div>
                 </div>
            </li>         
        </ul>
    </div> 
    <div  class="footer">
        <a ng-class="{right:true, buttonStatus:totalNum>0}"  ng-click="checkout();">选好了</a>
        <div class="left" ng-click='popup()'>
            <div class="shop"><span ng-class="{true:'show',false:'hide'}[isAmount]">{{totalNum}}</span></div>
            <div class="shop_info">
                <p class="line1">合计:<span class="__total">￥{{totalPrice | convert}}</span></p>
                <!-- <p class="line2">不含运费</p> -->
            </div>
        </div>
    </div>
    <span class="order_button"  ng-click='jumpOrders()'>
      订单
    </span>
    <div class="phone_matter" ng-class="{true:'show',false:'hide'}[isShow]" ng-click='register_hide()'>
		<div class='register' ng-click='$event.stopPropagation();'>
			<div class='content'>
			<ul>
				<li class='box'>
					<div class='left'>手机号</div>
					<input class='mob' type='tel' placeholder='请输入手机号' ng-model='mob'>
				</li>
				<li class='box'>
					<div class='left'>验证码</div>
					<div class='getCode' ng-click='getCode()' ng-class="{true:'but_null',false:''}[paraclass]" ng-bind='paracont'></div>
					<input type='tel' placeholder='请输入验证码' ng-model='code'>
				</li>
			</ul>
			</div>
			<div class='button_sure' ng-click='postMob()'>确定</div>
		</div>
	</div>
	<div class='matter' ng-class="{true:'show',false:'hide'}[isMatter]" ng-click='hide()'></div>
    <div class="popup-window-from-bottom" ng-class="{true:'show',false:'hide'}[isPopup]">
        <div class="box">
            <div class="popup-bottom-title">
                <div class="del" ng-click="empty();">
                    <div class="popup_bottom_del">
                        <span class="del_text" >清空</span>
                        <span class="del_img"></span>
                    </div>

                </div>
                <div class="oder">
                    <div class="popup_bottom_oder">
                        <span class="oder_img"></span>
                        <span class="oder_text">订单详情</span>
                    </div>
                </div>
            </div>
            <ul  class="cart">
                <li class="template" ng-repeat="x in commodities" ng-if="!!x.num">
                    <div class="popup_reduce">
                        <div class="price">{{x.unit_price | convert}}</div>
                        <div class="regulator_right">
                            <div class='btn' ng-click="removeCommodity(x);">-</div>
                            <span class="center">{{x.num | safenum}}</span>
                            <div class='btn' ng-click="addCommodity(x);">+</div>
                        </div>
                    </div>
                    <span class="field_title">{{x.title}}</span>
                </li>
            </ul>
        </div>
    </div>
	
  </div>
</body>
</html>
