
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../assets/css/orders.min.css">
    <title></title>
</head>
<body>
    <div class="header">
      <span class='ico' ng-class='{back:true,close:icoStatus}' ng-click='back()'></span>
        <div class="text">我的订单</div>     
   </div>
   <div class="main">
       <div ng-repeat="o in orders | orderBy:['id','deposit']:true" ng-if='orders.length > 0'>
			   <div class="user">
				   <span class="right" ng-if='o.status==0'>待付款</span>
				   <span class="right" ng-if='o.status==1'>待收货</span>
				   <span class="right" ng-if='o.status==2'>订单已完成</span>
				   <div class="left">
					   <img ng-src="{{o.avatar}}" alt="">
					   <div class='top'>
						   <span class="text">{{o.leader}}</span>
						   <span class="min_text">团主</span>
					   </div>
					   <div class='bottom'>下单时间：{{o.createTime | date}}</div>
				   </div>
				  
			   </div>
			   <div class="content" ng-click="openOrder(o.id)">
				   <div class="imgbox">
					   <img ng-src="{{pic}}" alt="" ng-repeat="pic in o.pics track by $index">
				   </div>
			   </div>
				<div class="footer">
					<p>共{{o.total}}件商品<span class="total">合计:</span><span class="price">￥{{o.totalFee | convert}}</span><span class="other">(含运费￥0.00)</span></p>
				   <div class="btn">
					   <div class="button" ng-click='openOrder(o.id)' ng-if='o.status<1'>取消订单</div>
					   <div class="button" ng-click='openOrder(o.id, true)' ng-if='o.status==0'>付款</div>
					   <div class="button" ng-click="openOrder(o.id)" ng-if='o.status>=1'>查看详情</div>
				   </div>
			   </div> 
       </div>
	   <div class='context' ng-if='orders.length == 0'>您未购买任何商品</div>
   </div>
</body>
</html>
