
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../assets/css/orders.min.css">
    <title></title>
</head>
<body>
   <div class="main">
       <div class='card' ng-repeat="o in orders | orderBy:['id','deposit']:true" ng-if='orders.length > 0'>
			   <div class="user">
					<span class="right" ng-if='o.status==0'>待付款</span>
					<span class="right" ng-if='o.status==1'>已支付</span>
					<span class="right" ng-if='o.status==2'>已发货</span>
					<span class="right" ng-if='o.status==3'>待取货</span>
					<span class="right" ng-if='o.status==4'>已完成</span>
					<span class="right" ng-if='o.status==-1'>已过期</span>
					<div class="left">
					   <div class='leaderImg'>
							<img ng-src="{{o.reseller.wx_headimgurl}}" alt="">
					   </div>  
					   <div class='top'>
						   <span class="text">{{o.reseller.name}}</span>
						   <span class="min_text">团主</span>
					   </div>
					   <div class='bottom'>下单时间：{{o.create_time | format}}</div>
					</div>
				  
			   </div>
			   <div class="content" ng-click="openOrder(o.id)">
				   <div class="imgbox">
						<div class='img' ng-style="{'width': '1.5rem', 'height': '1.5rem', 'background-image':'url('+pic+')','background-size':'cover'}" alt="" ng-repeat="pic in o.covers track by $index">
						</div>
				   </div>
			   </div>
				<div class="footer">
					<p>共{{o.count}}件商品<span class="total">合计:</span><span class="price">￥{{o.total_fee | convert}}</span><span class="other">(含运费￥0.00)</span></p>
				   <div class="btn">
					   <div class="button" ng-click='orderConfirm(o.id)' ng-if='o.status==1'>取消订单</div>
					   <div class="button" ng-click='openShare(o.id,$index)' ng-if='o.status>=0'>接龙</div>
					   <div class="button" ng-click='del(o.id)' ng-if='o.status==-1 || o.status==4'>删除订单</div>
					   <div class="button" ng-click='goPay(o.id,o.status)' ng-if='o.status==0'>立即支付</div>
				   </div>
			   </div> 
       </div>
	   <div class='context' ng-if='orders.length == 0'>您未购买任何商品</div>
   </div>
</body>
</html>
