<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type='text/css' href="assets/css/payment.min.css">
    <title></title>
</head>
<body>
	<!--<div class="header">
		<span class='ico back' ng-click='back()'></span>
        <div class="text">在线支付</div>
    </div>-->
	<!-- <div class='time'>支付剩余时间：28分37秒</div> -->
	<div class='info'>
		<div class='row border'>
			<span class='words'>订单编号</span>
			<span class='number'>{{data.id}}</span>
		</div>
		<div class='row'>
			<span class='words'>支付金额</span>
			<span class='number money'>￥{{data.total_fee | convert}}</span>
		</div>
	</div>
	<div class='balance'>
		<div class='box'>
			<div class='head'>余额支付</div>
			<div class='right' ng-click='payBalance()'>
				<span ng-class="{true:'selected',false:null}[isSelected]"></span>
			</div>
			<div class='left' ng-class="{true:'success',false:null}[isSuccess]">
				<div class='top'>账户余额</div>
				<div class='bottom'>可用金额￥{{balance | convert}}</div>
			</div>
		</div>
	</div>
	<div class='mode'>
		<div class='head'>还需支付</div>
		<ul>
			<li class='choose' ng-click='wx_Method()'>
				<div class='SelectionBox' ng-class="{true:'selected',false:null}[isWx]"></div>
				<img src='assets/images/weixin.png' alt='' />
				<span>微信支付</span>
			</li>
			<!-- <li class='choose' ng-click='zfb_Method()'>
				<div class='SelectionBox' ng-class="{true:'selected',false:null}[isZfb]"></div>
				<img src='assets/images/zhifubao.png' alt='' />
				<span>支付宝</span>
			</li> -->
		</ul>
	</div>
	<div class="button fixed">
		<div class="select">
			<a class="text boxColor" ng-click='pay_wx()'>确认支付</a>
		</div>
	</div>
	<div class='phone_matter' ng-class="{true:'show',false:'hide'}[isShow]"></div>
	<div class='popup_window' ng-class="{true:'show',false:'hide'}[isShow]">
		<div class='top'>温馨提示</div>
		<div class='center'>
			<p class='des'>{{name}}商品已抢完，请重新选择商品!</p>
		</div>
		<div class='bottom' ng-click='close_popup()'>确定</div>
	</div>
</body>
</html>
