<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/record.min.css">
    <title></title>
</head>
<body>
	<div class='page'>
		<div class="header">
			<span class='ico back' ng-click='back()'></span>
			<div class="text">成交记录</div>
		</div>
		<ul class='box'>
			<li ng-repeat='x in batch'>
				<div class='left'>
					<div class='leader'><img ng-src='{{x.wx_headimgurl}}' alt=''/></div>
					<span>{{x.name}}</span>
				</div>
				<div class='right'>{{x.create_time | date}}</span></div>
				<div class='center'>{{x.quantity}}{{x.spec}}</div>
			</li>
		</ul>
	</div>
	
</body>
</html>
